/* header section  for Title*/
.custom-header {
	background-color: white;
	color: rgb(43, 47, 51);
	font-family: "Beau Rivage", cursive;
	font-size: 50%;
}
/* main section with divs for serch for brews and workout section */

.custom-section {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	;
}
.custom-art{
border: 4px solid black
}
/* dropdown color and sizeing  */
.dropdown {
	border-radius: 5rem;
	text-align: center;
	color: rgb(43, 47, 51);
	width: 75%;
}
/* submit buttons section */
.finalserchbtn {
	border-radius: 5rem;
	width: 250px;
	background-color: white;
	text-align: center;
}
/* responsive display */
@media screen and(min-width:1066px  ) {
	.dropdown {
		font-size: 15px;
		flex-direction: column;
	}
}

